@import '../../constants/styles.css';
@import '../../fonts/webfonts.css';

.notification {
  color: black;
  position: fixed;
  bottom: 30px;
  left: 50%;
  right: 50px;
  font-family: FFDINWebProLight, sans-serif;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  height: auto;
  min-width: calc(100% - 1.5rem);
  max-width: 40rem;
  -webkit-transition: ease 0.05s;
  transition: ease 0.05s;
  display: flex;
  flex-direction: row;
  justify-content: flex;
  align-content: space-around;
  -webkit-animation: notificationSlideIn 0.4s;
  animation: notificationSlideIn 0.4s;
  z-index: 100;
}

.notification.information {
  background-color: var(--grønn);
}

.notification.warning {
  background-color: var(--soloppgang);
}

.notification.error {
  background-color: var(--solnedgang);
}

.notification .content {
  padding-left: 2rem;
}

.notification .check {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

@keyframes notificationSlideIn {
  0% {
    transform: translate3d(-50%, 100%, 0);
  }

  50% {
    transform: translate3d(-50%, -10%, 0);
  }

  100% {
    transform: translate3d(-50%, 0%, 0);
  }
}

@keyframes notificationSlideOut {
  0% {
    transform: translate3d(-50%, 0%, 0);
  }

  20% {
    transform: translate3d(-50%, -10%, 0);
  }

  100% {
    transform: translate3d(-50%, 150%, 0);
  }
}
