@import '../../../constants/styles.css';

.singleSelectContainer:not(:first-child) {
  margin-top: 20px;
}

.singleSelectSelect {
  border-radius: 0;
  outline: 0;
  font-family: DINW01Regular;
}

.singleSelectLabel {
  color: var(--morgendis);
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  font-family: FFDINWebProLight, sans-serif;
}

.singleSelectFlex {
  display: flex;
}
