@import '../../../constants/styles.css';

.singleSelectContainer:not(:first-child) {
  margin-top: 20px;
}

/* DO NOT CHANGE, FIX IF ELEMENT STRUCTURE CHANGES !! */
/* Needed for the dropdown to float over elements with z-index > 2 underneath it */
.singleSelectContainer > div:nth-child(2) > div:nth-child(3) {
  z-index: 40;
}

.singleSelectSelect {
  border-radius: 0;
  outline: 0;
  font-family: DINW01Regular;
}

.singleSelectLabel {
  color: var(--morgendis);
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  font-family: FFDINWebProLight, sans-serif;
}

.singleSelectFlex {
  display: flex;
}
