@import '../../../constants/styles.css';

.multiSelectContainer {
  position: relative;
  margin-top: 20px;
}

.multiSelectContainer:first-child {
  margin-top: 0;
}

.multiSelectLabel {
  color: var(--morgendis);
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  font-family: FFDINWebProLight;
}

.multiSelectSelect {
  border-radius: 0;
  outline: 0;
  font-family: DINW01Regular;
}

.multiSelectSelectedValue {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  color: var(--svart);
  background: inherit;
  padding: 10px;
  font-family: FFDINWebProLight;
}

.multiSelectShorthand {
  color: var(--svart);
  margin-right: 10px;
}

.multiSelectSelectedValuesContainer {
  margin-bottom: 10px;
}

.multiSelectPlaceholder {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 44px;
  line-height: 44px;
  vertical-align: middle;
  color: hsl(0, 0%, 50%);
  font-family: FFDINWebProLight;
  pointer-events: none;
  z-index: 2;
}

.selectedValueRemoveIcon {
  visibility: hidden;
}

.multiSelectSelectedValue:hover {
  background: var(--soloppgang);
  border-radius: 20px;
}

.multiSelectSelectedValue:hover .selectedValueRemoveIcon {
  visibility: visible;
}

.multiSelectPlaceholderIcon {
  position: relative;
  transform: translateY(-50%) scale(0.5, 0.5);
  left: 0;
  cursor: text;
  pointer-events: none;
  width: 39px;
  height: 39px;
  margin-top: 20px;
  margin-right: -10px;
}

.multiSelectPlaceholderText {
  display: inline;
  white-space: nowrap;
  margin-left: 10px;
}
