$light-grey: #e7e7e7;
$white: #FFFFFF;
$black: #000000;
$bekk-red: #FD5158;
$red: #FD5158;
$light-red: #FCE2E4;
$light-dirty-red: #EDD3D5;
$light-green: #C4EDE9;
$light-dirty-green: #B7E0DD;
$bekk-yellow: #FFF9AE;
$bekk-green: #28BCB3;

.notification{
	max-height: 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
	background-color: $light-green;

    .error {
        background-color: $light-dirty-red;
    }
	.content{
		display: inline-block;
		color: $black;
		padding-left: 25%;
		width: 100%;

		.check{
			float: left;
			margin-right: 30px;
			font-size: 60px;
		}

		h2{
			font-size: 30px;
		    padding-top: 15px;
		}
		h3{
			font-size: 16px;
		}
	}
}


.Button span {
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
  .Button {
    padding: 0px 20px;
    height: 49px;
    border-radius: 2px;
    border: 2px solid var(--ui-bkgd, #3d5567);
    display: inline-flex;
    background-color: var(--ui-bkgd, #3d5567);
  }
  
  .Button:hover:not(.Button_disabled) {
    cursor: pointer;
  }
  
  .Button_disabled {
    --ui-bkgd: rgba(61, 85, 103, 0.3);
  }