.itemEnter {
  width: 1%;
  margin-right: 0px;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  transition: width 100ms linear, margin-right 100ms linear;
}
.itemEnterActive {
  margin-right: 10px;
  width: 5%;
  transition: width 100ms linear, margin-right 100ms linear;
}

.itemEnterDone {
  margin-right: 10px;
  opacity: 1;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
}

.itemExit {
  opacity: 1;
}
.itemExitActive {
  opacity: 0;
  transition: opacity 100ms linear;
}

.itemExitDone {
  opacity: 0%;
}
